{% extends 'base.html.twig' %}

{% block title %}{{ article.titre}}{% endblock %}

{% block body %}
<div class="container">
<h1>{{ article.titre }}</h1>
 <p>Publié le {{ article.createdAt|date('d/m/Y à h\\hi') }}</p>
 <img src="{{ vich_uploader_asset(article, 'imageFile') }}" style="width: 270px; height: 200px;" class="rounded mx-auto d-block" alt="...">
    <div>{{article.contenu|raw}}</div>



    
    
    {% for categorie in article.categories %}

    {{ categorie.nom }}

    {% endfor %}

    </p>
    <div>{{ article.contenu|raw }}</div>
    
    <br>
    <h2>Commentaires ({{ article.commentaires|length }})</h2>
    {% for commentaire in article.commentaires %}
    <p>Publié par {{commentaire.pseudo}}</p>
    <div>{{ commentaire.contenu }}</div>
    <br>
{% else %}
<p> Il n'y a pas de commentaire pour le moment </p>

    {% endfor %}

    <h2>Ajouter un commentaire</h2>
    {{ form(commentForm) }}

{% endblock %}