{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
{% for message in app.flashes('message')%}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>

{% endfor %}
<br>
    {% for article in articles %}

  <div class="card" style="width: 17rem; display: inline-block">

        <img class="card-img-top"style="width: 270px; height: 200px;" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.titre }}">
        <div class="card-body">
        <a href="{{ path('article', {"label": article.label}) }}" class="btn btn-primary">{{ article.titre }} </a>
        <p>Publié le {{ article.createdAt|date('d/m/Y à h\\hi') }}</p>
        {% for categorie in article.categories %}
        {{ categorie.nom }}
        {% endfor %}
  
    </div>
  </div>



{% endfor %}

{% endblock %}
