{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
{% for message in app.flashes('message')%}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %}
    <p>future liste des articles<p>
    {% for article in articles %}
    <h1><a href="{{ path('article', {"label": article.label}) }}">{{ article.titre }}</a></h1>
    <p>Publié le {{ article.createdAt|date('d/m/Y à h\\hi') }}</p>
    <div>{{article.contenu|raw}}</div>
    <p>
    
    {% for categorie in article.categories %}

    {{ categorie.nom }}

    {% endfor %}

    </p>

    {% endfor %}
{% endblock %}
